*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}
.question{
    font-weight: 500;
}
.answers{
    margin-bottom: 30px;
    display: block;
}
.submit{
    font-size: 10px;
    background-color: lightgray;

}